
<main>

    <h1 class="page-title">Dashboard</h1>

    <div class="container dashboard-main-div">

        <!-- Radio buttons for state management -->
        <input type="radio" name="tab" id="tab1" checked>
        <input type="radio" name="tab" id="tab2">

        <div class="side-bar">
            <label class="tabButton tabButton1" for="tab1">
                <div class="tab-img">
                    <img src="/img/money_bag.png" alt="money_bag">
                </div>
                <p>KPI</p>
            </label>
            <label class="tabButton tabButton2" for="tab2">
                <div class="tab-img">
                    <img src="/img/book.png" alt="money_bag">
                </div>
                <p>Listados</p>
            </label>
        </div>

        <!-- Tab content -->
        <div class="tab-content content-1">
            <div class="top-tab">
                <h2 class="tab-title">KPI</h2>
                
                <p>Modo completo</p>

                <input type="checkbox" id="tab1detail">

                <label class="toggle" for="tab1detail">
                    <span class="slider"></span>
                </label>

            </div>
            <div class="kpi-content">
                <div class="kpi-stats">
                    <div class="kpi-block">
                        <h3 class="kpi-block-title">Ventas de hoy</h3>
                        <p class="kpi-block-value">{{today_sales}}</p>
                    </div>
                    <div class="kpi-block">
                        <h3 class="kpi-block-title">Ventas del mes</h3>
                        <p class="kpi-block-value">{{month_sales}}</p>
                    </div>
                    <div class="kpi-block">
                        <h3 class="kpi-block-title">Pedidos de hoy</h3>
                        <p class="kpi-block-value">{{today_sales}}</p>
                    </div>
                    <div class="kpi-block">
                        <h3 class="kpi-block-title">Pedidos del mes</h3>
                        <p class="kpi-block-value">{{month_sales}}</p>
                    </div>
                </div>
                <div class="kpi-stock">
                    <div class="kpi-stock-table-div">
                        <h3 class="kpi-stock-title">Stock bajo</h3>
                        <table class="kpi-stock-table">
                            <thead>
                                <tr>
                                    <th style="text-align: left;">Producto</th>
                                    <th style="text-align: left;">Categoría</th>
                                    <th style="text-align: center;">Stock</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Mesa Estudio</td>
                                <td>Muebles</td>
                                <td class="centered-cell low-stock">10</td>
                            </tr>
                            <tr>
                                <td>Ordenador Sobremesa</td>
                                <td>Electrodoméstico</td>
                                <td class="centered-cell critic-stock">2</td>
                            </tr>
                            <tr>
                                <td>Escultura Piedra</td>
                                <td>Decoración</td>
                                <td class="centered-cell ok-stock">4</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Modo detallado KPI -->

            <div class="kpi-content-detail">
                <div class="kpi-stats-detail" id="kpi-detail1">
                    <div class="kpi-block-detail">
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Facturado hoy</h3>
                            <p class="kpi-block-value-detail">€ {{today_billing}}</p>
                        </div>
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Facturado ayer</h3>
                            <p class="kpi-block-value-detail">€ {{yesterday_billing}}</p>
                        </div>
                        <div class="kpi-block-detail-section"></div>
                    </div>
                    <div class="kpi-block-detail">
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Ventas hoy</h3>
                            <p class="kpi-block-value-detail">{{today_sales}}</p>
                        </div>
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Ventas ayer</h3>
                            <p class="kpi-block-value-detail">{{yesterday_sales}}</p>
                        </div>
                        <div class="kpi-block-detail-section"></div>
                    </div>
                    <div class="kpi-block-detail">
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Ticket medio hoy</h3>
                            <p class="kpi-block-value-detail">€ {{today_avg_ticket}}</p>
                        </div>
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Ticket medio ayer</h3>
                            <p class="kpi-block-value-detail">€ {{yesterday_avg_ticket}}</p>
                        </div>
                        <div class="kpi-block-detail-section"></div>
                    </div>
                    <div class="kpi-block-detail">
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Producto más vendido hoy</h3>
                            <p class="kpi-block-value-detail kpi-bloc-value-detail-product">{{today_best_product}}</p>
                        </div>
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Categoría más vendida hoy</h3>
                            <p class="kpi-block-value-detail kpi-bloc-value-detail-product">{{today_best_category}}</p>
                        </div>
                        <div class="kpi-block-detail-section"></div>
                    </div>
                </div>

                <div class="kpi-stats-detail" id="kpi-detail2">
                    <div class="kpi-block-detail">
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Facturado este mes</h3>
                            <p class="kpi-block-value-detail">€ {{month_billing}}</p>
                        </div>
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Facturado el mes pasado</h3>
                            <p class="kpi-block-value-detail">€ {{past_month_billing}}</p>
                        </div>
                        <div class="kpi-block-detail-section"></div>
                    </div>
                    <div class="kpi-block-detail">
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Ventas del mes</h3>
                            <p class="kpi-block-value-detail">{{month_sales}}</p>
                        </div>
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Ventas del mes pasado</h3>
                            <p class="kpi-block-value-detail">{{past_month_sales}}</p>
                        </div>
                        <div class="kpi-block-detail-section"></div>
                    </div>
                    <div class="kpi-block-detail">
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Ticket medio este mes</h3>
                            <p class="kpi-block-value-detail">€ {{month_avg_ticket}}</p>
                        </div>
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Ticket medio el mes pasado</h3>
                            <p class="kpi-block-value-detail">€ {{past_month_avg_ticket}}</p>
                        </div>
                        <div class="kpi-block-detail-section"></div>
                    </div>
                    <div class="kpi-block-detail">
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Producto más vendido este mes</h3>
                            <p class="kpi-block-value-detail kpi-bloc-value-detail-product">{{month_best_product}}</p>
                        </div>
                        <div class="kpi-block-detail-section">
                            <h3 class="kpi-block-title-detail">Categoría más vendida este mes</h3>
                            <p class="kpi-block-value-detail kpi-bloc-value-detail-product">{{month_best_category}}</p>
                        </div>
                        <div class="kpi-block-detail-section"></div>
                    </div>
                </div>

                <div class="kpi-stats-detail" id="kpi-detail3">
                    <div class="kpi-stock-table-div-detail">
                        <h3 class="kpi-stock-title">Stock bajo</h3>
                        <table class="kpi-stock-table">

                            <thead>
                                <tr>
                                    <th style="text-align: left;">ID</th>
                                    <th style="text-align: left;">Producto</th>
                                    <th style="text-align: left;">Categoría</th>
                                    <th style="text-align: center;">Precio</th>
                                    <th style="text-align: center;">Stock</th>
                                    <th style="text-align: center;">Activo</th>
                                </tr>
                            </thead>
                            {{#each lowest_stock}}
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{name}}</td>
                                    <td>{{category}}</td>
                                    <td>{{price}}</td>
                                    <td class="centered-cell
                                        {{#if (gt stock 25)}}ok-stock
                                        {{else if (gt stock 10)}}low-stock
                                        {{else}}critic-stock{{/if}}">
                                        {{stock}}
                                    </td>
                                    <td class="centered-cell"></td>
                                </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>

                <div class="kpi-detail-dots">
                    <input type="radio" id="dot1" name="detail" checked>
                    <label for="dot1"></label>

                    <input type="radio" id="dot2" name="detail">
                    <label for="dot2"></label>

                    <input type="radio" id="dot3" name="detail">
                    <label for="dot3"></label>
                </div>
            </div>
        </div>

        <div class="tab-content content-2">
            <div class="top-tab">
                <h2 class="tab-title">Listados</h2>

                <p>Colores Stock</p>

                <input type="checkbox" id="toggle-colors">

                <label class="toggle" for="toggle-colors">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="listado-content">
                <div class="listado-table-div">
                    <h3 class="kpi-stock-title">Ultimas 5 ventas</h3>
                    <table class="kpi-stock-table">
                        <thead>
                            <tr>
                                <th style="text-align: left;">Fecha</th>
                                <th style="text-align: left;">Cliente</th>
                                <th style="text-align: left;">Total</th>
                            </tr>
                        </thead>
                        {{#each last_sales}}
                            <tr>
                                <td>{{sale_date}}</td>
                                <td>{{customer_name}}</td>
                                <td>€ {{total}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
                <div class="listado-table-div">
                    <h3 class="kpi-stock-title">Top 5 más vendidos</h3>
                    <table class="kpi-stock-table">
                        <thead>
                            <tr>
                                <th style="text-align: left;">Producto</th>
                                <th style="text-align: left;">Categoría</th>
                                <th style="text-align: center;">Stock</th>
                                <th style="text-align: center;">Unidades</th>
                            </tr>
                        </thead>
                        {{#each most_sold_products}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{category}}</td>
                                <td class="centered-cell
                                    {{#if (gt stock 25)}}ok-stock
                                    {{else if (gt stock 10)}}low-stock
                                    {{else}}critic-stock{{/if}}">
                                    {{stock}}
                                </td>
                                <td class="centered-cell">{{units_sold}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>