<main>
    <h1 class="page-title">Productos</h1>
    <div class="container big-table-div">
        <table class="big-table">

            <thead>
                <tr>
                    <th style="text-align: left;">Producto</th>
                    <th style="text-align: left;">Categoría</th>
                    <th style="text-align: left;">Precio</th>
                    <th style="text-align: center;">Stock</th>
                    <th style="text-align: center;">Activo</th>
                    <th style="text-align: center;">Acciones</th>
                </tr>
            </thead>
            {{#each page_products}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{category}}</td>
                    <td>€ {{price}}</td>
                    <td class="centered-cell
                        {{#if (gt stock 25)}}ok-stock
                        {{else if (gt stock 10)}}low-stock
                        {{else}}critic-stock{{/if}}">
                        {{stock}}
                    </td>
                    <td class="centered-cell">{{#if (eq active 1)}}Activo{{else}}Inactivo{{/if}}</td>
                    <td class="centered-cell">Editar</td>
                </tr>
            {{/each}}
        </table>
    </div>
    <div class="page-nav-container">
        <div class="page-nav">
            <a href="" class="page-arrow">&lt;</a>
            <p class="page-number">Página X</p>
            <a href="" class="page-arrow">&gt;</a>
        </div>
    </div>
</main>